<form class="form-signin" action="{loginurl}" method="POST">
        <h2 class="form-signin-heading">Login</h2>
        <input name="username" type="text" class="input-block-level" placeholder="Nome utente">
        <input name="password" type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input name="store" type="checkbox" value="1">Ricorda su questo computer
        </label>
        <button class="btn btn-large btn-primary" type="submit">Login</button>
        <input name="returnurl" type="hidden" value="{returnurl}" />
</form>
