<table style="width: 100%;">
	<tr>
		<th colspan=2>Base</th>
	</tr>
	<tr>
		<th>Campi ID</th>
		<td>{idselect}</td>
	</tr>
	<tr>
		<th>Campo descrizione</th>
		<td>{nameselect}</td>
	</tr>
</table>
<br />
<table style="width:100%;">
	<tr>
		<th colspan=3>Campi</th>
	</tr>
	<tr>
		<td class="center">{fields}</td>
		<td class="center">
		<a href='{addformurl}' class='button addspecial' >+</a>
		<br>
		<a href='#' class='button includefield' >&gt;</a>
		<br>
		<a href='#' class='button excludefield' >&lt;</a>
		<br>
		</td>
		<td class="center"><select id="fields"  multiple="multiple" size='{colslength}'></select></td>
	</tr>
	<tr>
		<th colspan=3>Campi</th>
	</tr>

	<tr>
		<td colspan=3>
		<table id='settings' >
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>In lista</th>
					<th>Tratta come</th>
					<th>Relazione</th>
					<th>Obbl.</th>
					<th>Validazione</th>
					<th>Tipo</th>
					<th>Lunghezza</th>
					<th>Consenti null</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		</td>
	</tr>
</table>